select.form-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-repeat: no-repeat;
      background-position: right 1rem center;
      background-size: 1.5em 1.5em;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(146,173,201)' viewBox='0 0 16 16'%3e%3cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3e%3c/svg%3e");
    }